body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  background: rgba(0, 0, 0, 0.1); /* Dark semi-transparent background */
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Optional shadow */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 10;
}
.logo {
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff; /* Optional color */
  font-weight: 600;
  margin: 0 20px;
  font-family: "Roboto", sans-serif;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  margin-right: 20px;
}
.navbar a {
  text-decoration: none;
  color: #fff; /* Optional color */
  font-weight: bold;
  transition: color 0.3s ease; /* Optional transition */
}
.navbar a:hover {
  color: #555; /* Optional hover color */
}
#header {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  color: white;
}
.shapes-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(76, 0, 255, 0.8),
    rgba(76, 0, 255, 0.5),
    transparent
  ); /* Amethyst-Midnight gradient */
  opacity: 0.7; /* Adjust the opacity as needed */
  filter: blur(30px); /* Adjust the blur intensity as needed */
  animation: moveShapes 30s linear infinite alternate; /* Animation */
}
@keyframes moveShapes {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5%, 5%);
  }
}
.content {
  z-index: 1;
  text-align: center;
  width: 80%;
  height: auto;
}
.glow {
  margin: 60px;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.3), 0 0 60px rgba(255, 255, 255, 0.3),
    0 0 30px rgba(255, 255, 255, 0.3);
}
#header p {
  color: #846190;
  font-size: 20px;
  margin: 50px;
  animation: bounce 0.5s ease infinite alternate; /* Bounce animation */
}
.icon {
  width: 30px;
  height: 30px;
  background: radial-gradient(
    circle,
    rgba(76, 0, 255, 0.8),
    rgba(76, 0, 255, 0.5),
    transparent
  );
  border-radius: 50%;
  margin: 5px;
}
/* Get access button */
#header button {
  padding: 15px 32px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5em;
  background-size: 200% 100%;
  background-image: linear-gradient(145deg, #ff5b53, #ff53eb, #4b4bff, #5de7ff);
  box-shadow: 3px 3px 10px 2px #4b4bff, -3px -3px 10px 2px #ff53eb;
  transition: 0.5s;
  animation: gradientEffect 5s infinite alternate;
  margin: 20px;
}
#header button:hover {
  background-position: 99%;
  box-shadow: 3px 3px 10px 2px #5de7ff, -3px -3px 10px 2px #4b4bff;
}
#header button:active {
  transform: scale(0.8) rotate(5deg);
  box-shadow: 3px 3px 15px 3px #5de7ff, -3px -3px 15px 3px #4b4bff;
}
@keyframes gradientEffect {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px); /* Adjust the bounce height */
  }
}
/* TROLLY BUTTON */
.buybtn {
  width: 100px;
  height: 35px;
  background: #222;
  position: relative;
  text-align: center;
  border-radius: 1em;
  font-family: "Arial";
  transition: background 0.3s;
}
.buybtn::after,
.buybtn::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-wrapper,
.text,
.trolly {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}
.text {
  top: 0;
}
.text,
.trolly {
  transition: top 0.5s;
}
.trolly {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg {
  width: 24px;
  height: 24px;
}
.buybtn:hover {
  background: #222;
}
.buybtn:hover .text {
  top: -100%;
}
.buybtn:hover .trolly {
  top: 0;
}
/* Components Area */
#components {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #fff;
}
#components .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 85%;
  margin: 50px 0;
}
#components .catagory-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#components h1 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.cat-btn {
  background: linear-gradient(to bottom, #444, #222);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all ease-out 0.1s;
}
.cat-btn:hover {
  background: linear-gradient(to bottom, #222, #000);
  padding: 10px 24px;
}